
body{
	margin: 0;
	padding: 0;
	background: #000;
	color: #fff;
	font-family: arial;
	}
#page{
	width: 100%;
	background: #000;
	}

#wrap{
	margin: auto;
	width: 100%;
	max-width: 1200px;
	min-height: 500px;
	background: #000;
	}
	
#header{
	height: 354px;
	width: 100%;
	background: url(header.png) no-repeat;
	}
	
#topbar{
	position: relative;
	width: 910px;
	height: 70px;
	top: 283px;
	margin: auto;
	}
	
#topbar ul li{
	display: inline-block;
	margin: 0;
	text-align: center;
	line-height: 70px;
	border-right: 1px solid #000;
	border-left:  1px solid #000;
	border-collapse: collapse;
	width: 205px;
	height: 70px;
	}
	
#topbar ul li a{
	width: 100%;
	height: 100%;
	color: #fff;
	font-family: arial;
	text-decoration: none;
	background: rbga(100,100,100,.5);
	
	}
	
#main{
	margin:auto;
	width: 910px;
	border: 1px solid #000;
	min-height: 400px;
	padding-bottom: 50px;
	}

	
#ldr_table{
	background: #222;
	font-famil: arial;
	color: #fff;
	}

#ldr_table a{
	color: #fff;
	text-decoration: none;
	border-bottom: 1px dotted #fff;
	}
	
#ldr_table tr td{
	padding: 10px;
	}
	
.ld_tb_hd{
	background: #333;
	color: #000;
	font-weight: bold;
	}
	
.ldr_alt1{
    background: #121212;
	color: #ff;
	}

.ldr_alt2{
	background: #020202;
	color: #bbb;
	}
	
#prev_next{
	margin-top: 10px;
	border: 2px solid #444;
	}
	
#prev_next tr td{
	padding: 10px;
	}
	
#prev_next a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	}
	
#player-wrap{
	margin-top: 25px;
	
}

#player_row-top, #player_row-middle, #player_row-bottom{
	width: 100%;
	height: 175px;
	}
	
.playerblock{
	display: inline-block;
	background: #111;
	border: 2px solid #555;
	}
	
.player-block-top{
	width: 290px;
	height: 150px;
	}

.player-block-middle{
	width: 210px;
	height: 130px;
	}
	
.player-block-bottom{
	width: 170px;
	height: 100px;
	}
	
